.list__list
    display flex
    flex-direction column
    gap 20px
.list__item
    display flex
    height 60px
    background $primary-color
    border-radius 5px
    border 1px solid $third-color
    align-items center
    justify-content space-between
    & h4
        margin 0 0 0 20px
    @media(max-width: 750px)
        flex-direction column
        height 150px
        padding-top 20px
.list .stat
    display flex
    align-items center
    gap 20px
    margin-left 20px
    & span
        display flex
        gap 5px
    @media(max-width: 750px)
        flex-direction column
.list .actions
    display flex
    justify-content space-between
    @media(max-width: 750px)
        width 100%
.list .count
    color $secondary-color
    font-size 1.1em
.list .actions form
    display flex
    align-items center
    @media(max-width: 750px)
        flex-grow 1
.list .actions a, button
    cursor pointer
    align-items center
    display flex
    height 60px
    padding 0 10px
    border none
    background none
    transition $transition
    color $primary-color
    background $secondary-color
    @media(max-width: 750px)
            border-bottom-left-radius 5px
            border-top-left-radius 5px
    &:hover
        background $secondary-color-dark
    &.danger
        background $danger-color
        border-top-right-radius 5px
        border-bottom-right-radius 5px
        border-top-left-radius 0
        @media(max-width: 750px)
            border-top-right-radius 5px
            border-bottom-left-radius 0
        &:hover
            background $danger-color-dark
    @media(max-width: 750px)
        flex-grow 1
        justify-content center
        height 45px
