.site-header
    display flex
    align-items center
    justify-content space-between
    background $secondary-color
    color $third-color
    height 55px
    z-index 2
    position relative
    right 0
    transition $transition
    @media (max-width: 1024px)
        &.active
            right: 252px
.site-header > .site-header__wrap
    display flex
    align-items center
.site-header a
    color $third-color
.site-header__logo
    font-family Littledonjuan
.site-header__logo h1
    font-weight 100
    letter-spacing 0.15em
    margin 0
    padding 0 20px
.site-header input[type=text]
    border none
    background $secondary-color-dark
    height 35px
    width 300px
    margin-left 100px
    border-radius 25px
    padding 0 15px
    color $third-color
    font-size 14px
    &:focus
        outline none
    &::placeholder
        color $header-input-color
    @media(max-width 1024px)
        margin-left 30px
        width 250px
    @media(max-width 750px)
        display none
.site-header__nav
    display flex
    z-index 4
    transform-origin center top
    border-radius 5px
    border 1px solid $third-color
    visibility hidden
    transition $transition
    position absolute
    top 65px
    transform scaleY(0)
    right 20px
    padding 20px 35px 20px 20px
    background $primary-color
    flex-direction column
    &::before
        content ''
        width 15px
        height 15px
        transform rotate(45deg)
        display block
        position absolute
        background $primary-color
        left calc(100% / 2 - 7.5px)
        top -7px
.site-header__nav > a
    color $text-color
    padding 10px 0
    transition $transition
    &:hover
        color $secondary-color
.site-header__nav.active
    visibility visible
    transform scaleY(1)
    @media (max-width 1024px)
        display none  
.site-header__controls
    display flex
    font-size 16px
    align-items center
    height 55px
    padding 0 20px
    transition $transition
    cursor pointer
    &:hover
        background $secondary-color-dark
    @media(max-width 1024px)
        display none
.site-header__controls img
    width 35px
    height 35px
    border-radius 50%
    margin-right 10px
    position relative
    z-index 3
.site-header svg
    font-size 2em
    transition $transition
    display flex
    align-items center
    padding: 9.5px 20px
    cursor pointer
    &:hover
        background $secondary-color-dark
#menuTrigger
    display none
    @media(max-width 1024px)
        display flex