mixin right-nav(links)
    nav.right-nav
        header.right-nav__header
            img(src=require("../../assets/img/avatar.jpg") alt="avatar" loading="lazy")
            span Александр Ивлев
        .right-nav__mobile-links
            a(href="/home.html") Личный кабинет
            a(href="create-post.html") Создать пост
            a(href="/logout") Выйти
            hr
        each link in links
            if link.selected
                a.selected(href=link.href)= link.title
            else
                a(href=link.href)= link.title