extends ../layouts/main.pug
include ../mixins/right-nav.pug
block title
    | Авторизация
block content
    form.auth-reg(action="" method="post")
        label(for="email") Email:
        input(type="email" id="email" name="email" placeholder="example@domain.ru")
        label(for="password") Пароль:
        input(type="password" id="password" name="password" placeholder="***********")
        input(type="submit" value="Войти")
block nav
    +right-nav([
        {title: 'Автомобили', href: "/auto", selected: false},
        {title: 'Путешествия', href: "/trevel", selected: true},
        {title: 'Истории', href: "/story", selected: false},
        {title: 'Программирование', href: "/programming", selected: false},
        {title: 'Бизнес', href: "/business", selected: false},
        {title: 'Кулинария', href: "/cooking", selected: false},
        {title: 'Технологии', href: "/technologies", selected: false}
    ])