extends ../layouts/main.pug
include ../mixins/right-nav.pug
include ../mixins/post.pug
include ../mixins/pagination.pug
block title
    | Главная
block content
    section.posts
        .posts__list
            +post()
            +post()
            +post()
    +pagination(8, 2)
block nav
    +right-nav([
        {title: 'Автомобили', href: "/auto", selected: false},
        {title: 'Путешествия', href: "/trevel", selected: true},
        {title: 'Истории', href: "/story", selected: false},
        {title: 'Программирование', href: "/programming", selected: false},
        {title: 'Бизнес', href: "/business", selected: false},
        {title: 'Кулинария', href: "/cooking", selected: false},
        {title: 'Технологии', href: "/technologies", selected: false}
    ])