extends ../layouts/main.pug
block title
    | Регистрация
block content
    form.auth-reg(action="" method="post")
        label(for="name") Имя:
        input(type="text" id="name" name="name" placeholder="Иван")
        label(for="surname") Фамилия:
        input(type="text" id="surname" name="surname" placeholder="Иванов")
        label(for="email") Email:
        input(type="email" id="email" name="email" placeholder="example@domain.ru")
        label(for="password") Пароль:
        input(type="password" id="password" name="password" placeholder="***********")
        label(for="password2") Пароль еще разок:
        input(type="password" id="password2" name="password2" placeholder="***********")
        input(type="submit" value="Регистрация") 