$primary-color = #ffffff
$secondary-color = #157575
$secondary-color-dark = #106060
$third-color =#ead7c7

$bg-color = #e5e5e5
$text-color = #404040
$text-light-color = #abafa2
$success-color = #15a070
$danger-color = #da504b
$danger-color-dark = #b1322e