@font-face {
    font-family Roboto
    src url('../../assets/fonts/Roboto-Regular.otf')
    font-display swap
}
@font-face {
    font-family Littledonjuan
    src url('../../assets/fonts/Littledonjuan.otf')
    font-display swap
}