body
    background $bg-color
    color $text-color
    font-family Roboto
    font-size 18px
a
    text-decoration none
    color $text-color
.wrapper
    position relative
    overflow hidden
    min-height 100vh
.container
    position relative
    margin 30px 150px
    transition $transition
    display flex
    right 0
    justify-content space-between