include ../mixins/alert.pug
doctype html
html(lang="ru")
    head
        title Blog.template | 
            block title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author", content="Александр Ивлев (Alex Ivlev)")
        meta(name="keywords", content="Блог, Blog, Blog.template")
        meta(name="description", content="Простой блог")
    body
        #site-overlay
        #site-overlay2
        .wrapper
            include parts/header.pug
            .container
                .wrap
                    block content
                block nav
            .alerts
                +alert('danger', 'Что-то пошло не так')
                +alert('success', 'Успешно')
            include parts/footer.pug